/* crete Rounded Font */
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3e3c3c;
}
header span {
  font-weight: 700;
  font-size: 3rem;
  font-family: "Licorice", cursive;
  color: #fff;
}
header nav ul li {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.menu {
  flex-basis: 30%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  display: inline;
}
#burger-menu {
  display: none;
  color: #fff;
  font-size: 2rem;
}
/* Header Section Ends */

/* Hero Section Starts */
div.desktop-icons ul li {
  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 3.6rem;
  list-style-type: none;
  font-size: 2rem;
}
.desktop-icons ul li a i {
  color: #cfcfcf;
}
main {
  background-color: #1c1a19;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.MainParagraph h1 {
  font-family: "Crete Round", serif;
  font-size: 7.2rem;
  color: #f55800;
}

.MainParagraph p:first-of-type {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 3.2rem;
}
.MainParagraph p,
.MainParagraph h1 {
  margin-bottom: 2.4rem;
  margin-left: 10.2rem;
}
.MainParagraph p:last-child {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #f4f5f7;
}
div.mobile-icons {
  display: none;
}
#mobile {
  display: none;
}
div.image {
  align-self: flex-start;
}
div.image img {
  height: 70vh;
  width: auto;
}
/* Hero Section Ends */

/* projects section Starts */
.project-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 2rem;
  align-items: center;
  align-content: flex-end;
  margin-left: 10rem;
}
.project-second {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 2rem;
  align-items: center;
  /* align-content: space-around; */
  margin-left: 10rem;
}
section#projects-section img {
  width: 37.5rem;
  min-height: 35.5rem;
}
#projects-section hr {
  color: #212121;
  height: 0;
  width: 40rem;
  /* margin-right:7rem; */
}

#projects-section {
  /* margin-top: 3rem; */
  min-width: 375px;
  margin-left: 10.1rem;
  margin-right: 14.35rem;
  margin-bottom: 3rem;
  background-color: #e5e5e5;
}
#projects-section div.project-first p {
  font-weight: 400;
  font-size: 4rem;
  font-family: "Crete Round", serif;
  /* margin-left: 2rem; */
}
div.multi-post-story {
  width: 37.5rem;
  background-color: red;
}
div.multi-post-story > p:first-of-type {
  color: #091e42;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
}
div.multi-post-story #second {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #091e42;
  font-family: "Inter", sans-serif;
}
div.multi-post-story div.buttons {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #091e42;
  padding: 2.4rem 0;
  margin-right: 0;
}
div.multi-post-story div.buttons button.css {
  width: 55px;
  height: 40px;
}
div.multi-post-story div.buttons button.html {
  width: 67px;
  height: 40px;
}
div.multi-post-story div.buttons button.bootstrap {
  width: 95px;
  height: 40px;
}
div.multi-post-story div.buttons button.ruby {
  width: 61px;
  height: 40px;
}
div.multi-post-story > :last-child {
  color: #fff;
  width: 12.4rem;
  height: 4.8rem;
  border: none;
  background: #f55800;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #ffffff;
}
div.see {
  width: 100%;
  height: auto;
  background-image: url(images/professional.png);
  background-size: cover;
  position: relative;
}
div.see button {
  width: 100%;
  height: 5.8rem;
  background-color: #f55800;
  border: none;
  font-family: "Inter", sans-serif;
  position: absolute;
  bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}
div.data-dashbord {
  background-image: url(images/availiability.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 43.5rem;
}
div.data-dashbord h4 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #ffffff;
  margin-left: 2.4rem;
}
div.data-dashbord p {
  overflow-x: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  margin: 1.6rem 2.4rem;
}
div.data-dashbord {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
div.data-dashbord div.button button {
  background: rgba(255, 255, 255, 0.24);
  padding: 1rem 1.2rem;
  border: none;
  margin-left: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
div.data-dashbord div.button button.html {
  margin-left: 2.6rem;
}

.container-projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 2.4rem;
}
/* project Section Ends */

/* About Me Section Starts */

section.about-me {
  padding-left: 14rem;
  padding-top: 13rem;
  background: #262626;
}
div.about-me > p:first-child {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 8.2rem;
  color: #f55800;
}
div.about-me > p:first-child + p {
  font-family: "Inter", sans-serif;
  margin-top: 2.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #f4f5f7;
}
section.about-me div.container {
  display: flex;
  justify-content: space-around;
}
section.about-me div.about-me button {
  width: 15.6rem;
  height: 4.8rem;
  background: #f55800;
  border: none;
  margin-top: 2.4rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
}
section.about-me div.container img {
  width: 40%;
  height: auto;
}
section.about-me hr {
  margin-right: 14.2rem;
  margin-top: 13.9rem;
  margin-bottom: 14.6rem;
  color: fff;
}
div.skills ul li {
  list-style-type: none;
  margin: 3.2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4.3rem;
  color: #fff;
}
div.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
div.skills ul li:first-child {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #fff;
  margin-bottom: 4.4rem;
}
div.skills ul li img {
  margin-right: 1.2rem;
}

/* About Me Section Ends */

/*Footer Starts*/

footer {
  padding-left: 14rem;
  padding-top: 13rem;
  padding-right: 14.2rem;
}

div.container-footer {
  margin-bottom: 16rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}
/* footer p{
  width: 45rem;
  height: 25rem;
} */
footer p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #262626;
}
footer input {
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
  margin-bottom: 2.4rem;
  border-bottom: solid 1px #dbd8d7;
  width: 19rem;
}
footer textarea {
  color: #3c3a39;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  height: 11.4rem;
  background: #fbf8f7;
  border: none;
  width: 40rem;
  height: 11rem;
  margin-bottom: 2.4rem;
}
input[type="email"] {
  width: 40rem;
}
footer button {
  background: #f55800;
  color: #ffffff;
  padding: 1.2rem;
  width: 12.2rem;
  height: 4.8rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  border: none;
}
footer hr {
  background: #dfe1e6;
  width: 100%;
  margin-bottom: 2.5rem;
}
footer ul li i {
  color: #505f79;
  font-size: 3rem;
}
footer ul {
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
footer ul li {
  display: inline;
  margin-left: 2rem;
}

/* Media Query */

/* For Tablets And Ipads */
@media screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
}

/* For Smarth phones */
@media screen and (min-width: 375px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  div.mobile-icons {
    display: block;
  }
  #mobile {
    width: 80px;
    height: 180px;
    display: inline;
    position: absolute;
    right: 0.03rem;
    top: 44rem;
  }
  div.mobile-icons ul li {
    list-style-type: none;
    font-size: 2rem;
    display: inline-block;
    margin-left: 2rem;
  }

  div.mobile-icons ul li a {
    color: #cfcfcf;
  }
  .mobile-icons img {
    display: block;
  }
  main {
    background-color: #1c1a19;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  div.data-dashbord {
    height: 38.6rem;
  }
  div.MainParagraph h1 {
    font-size: 3.5rem;
  }
  div.image img {
    display: none;
  }
  nav.menu {
    display: none;
  }
  .project-first,
  .project-second {
    margin-left: 10%;
  }
  #projects-section {
    margin-left: 0;
  }
  main div.desktop-icons {
    display: none;
  }
  #burger-menu {
    display: block;
  }
}
